<%= form_for(@testimonial) do |f| %>
  <% if @testimonial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@testimonial.errors.count, "error") %> prohibited this testimonial from being saved:</h2>

      <ul>
      <% @testimonial.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class ="field">
    <%= f.label :clinet_name %>
    <%= f.text_field :client_name %>
  </div>

  <div class ="field">
    <%= f.label :testimonial %>
    <%= f.text_area :testimonial, rows: 7 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
