<!DOCTYPE html>
<html>
<head>
  <title>LvlSvn Studio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Go to Admin", admin_path if current_user &&current_user.has_role?("Admin") %>
<%= yield %>

</body>
</html>
